body {
    background-color: #f4f4f4;
    /* color: #00005d; */
}
/* Main column width */
.wp-block {
    max-width: 860px;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 1080px;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}